body {
    font: normal normal 400 1em 'Roboto', -apple-system, BlinkMacSystemFont,
      Segoe UI, Helvetica, Arial, sans-serif;
    color: #343a40;
    margin: 0;
    padding: 0;
    --wr-max: 1140px;
    position: relative;
    --card-bg: rgb(255, 255, 255);
    word-wrap: anywhere;
    --color-bg: #fff;
    background: #fff;
    word-break: break-word;
    --font-text: normal normal 400 1em 'Roboto', -apple-system,
      BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    --font-title: normal normal 800 1em 'Poppins', -apple-system,
      BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Inter,
      Helvetica, Arial, sans-serif;
    overflow-wrap: anywhere;
    --border-width: 1px;
    text-rendering: optimizeLegibility;
    --color-bg-card: #f8f9fa;
    --fontSize-text: 1em;
    --card-boxShadow: 0px 19px 30px -10px rgba(21, 21, 25, 0.21);
    --fontSize-title: 2.5em;
    --color-text-link: #1864ab;
    --card-borderColor: rgb(231, 231, 231);
    --card-borderWidth: 1px;
    --card-borderRadius: 10px;
    --color-text-primary: #212529;
    --color-border-normal: #f1f3f5;
    --color-accent-primary: #9c36b5;
    --color-text-secondary: #343a40;
    -webkit-font-smoothing: antialiased;
    --fontWeight-text-heavy: 700;
    -moz-osx-font-smoothing: grayscale;
    --fontWeight-text-medium: 500;
    -webkit-text-size-adjust: 100%;
  }
  a,
  .link {
    color: var(--color-text-link);
    font-weight: var(--fontWeight-text-medium);
    text-decoration: none;
  }
  a:not(.btn):hover {
    text-decoration: underline;
  }
  strong {
    font-weight: var(--fontWeight-text-heavy);
  }
  #measure-layer {
    z-index: -1;
    position: absolute;
    visibility: hidden;
  }
  .wr {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    max-width: var(--wr-max);
    box-sizing: border-box;
  }
  @media only screen and (max-width: 700px) {
    .wr {
      padding: 0 15px;
    }
  }
  .um-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
  }
  .um-backdrop > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .um-backdrop > .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .madeWithUmso {
    left: 50%;
    color: rgb(43, 43, 43) !important;
    bottom: 10px !important;
    height: 30px;
    display: flex !important;
    padding: 0 9px;
    z-index: 100;
    position: fixed !important;
    animation: keyframes-badgeFade;
    font-size: 13px;
    background: #fff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 6px 13px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
      Arial, sans-serif;
    font-weight: 500;
    white-space: nowrap;
    margin-right: -70px !important;
    border-radius: 6px;
    text-decoration: none !important;
    transform-origin: 50% 50%;
    animation-duration: 1.3s;
    transition-property: background color;
  }
  .madeWithUmso svg {
    color: rgb(43, 43, 43);
    width: 66px;
    margin-top: 0;
    transition: filter 0.2s ease-in-out;
    margin-left: 6px;
  }
  .madeWithUmso:hover {
    color: #fff !important;
    background: #000000 !important;
  }
  .madeWithUmso.badge--left {
    left: initial;
    margin-left: 10px;
  }
  .madeWithUmso.badge--right {
    left: 100%;
    margin-left: -165px;
  }
  .madeWithUmso.badge--center {
    left: 50%;
    margin-left: -70px;
  }
  @media (max-width: 750px) {
    .madeWithUmso.footerBadge {
      left: 50%;
      margin-left: -70px;
    }
  }
  .madeWithUmso:hover svg {
    filter: invert(1) saturate(0);
  }
  @keyframes keyframes-badgeFade {
    0% {
      opacity: 0;
      transform: scale(0.8) translate(0, 10px);
    }
    80% {
      opacity: 0;
      transform: scale(0.8) translate(0, 10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }
  .__umsoEditorHighlight:after {
    top: 0;
    left: 0;
    right: 0;
    border: 1px dashed #63a1ff;
    bottom: 0;
    content: '';
    z-index: 9999;
    position: absolute;
    box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.1);
    border-radius: 5px;
    animation-name: keyframes-editorHighlight;
    pointer-events: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  @keyframes keyframes-editorHighlight {
    0% {
      box-shadow: transparent;
      border-color: transparent;
      background-color: transparent;
    }
    45% {
      box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.3);
      border-color: #63a1ff;
    }
    80% {
      box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.3);
      border-color: #63a1ff;
    }
    100% {
      box-shadow: none;
      border-color: transparent;
      background-color: transparent;
    }
  }
  .um-gradient-text {
    background: -webkit-linear-gradient(
      var(--angle),
      var(--from),
      var(--to)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn {
    font: normal normal 500 1em var(--font-system), -apple-system,
      BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: none;
    padding: 0.7em 0.8em;
    position: relative;
    font-size: 14px;
    background: rgb(240, 240, 240);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    align-items: center;
    border-color: rgb(227, 227, 227);
    border-style: solid;
    border-width: 0;
    border-radius: 8px;
    justify-content: center;
    text-decoration: none;
  }
  .btn span {
    text-decoration: none;
  }
  .btn--large {
    font-size: 1.2em;
  }
  .btn--clear {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .btn .um-arrow {
    margin-left: 0.4em;
  }
  .btn svg:not(.um-arrow),
  .btn img {
    width: initial;
    height: 1.2em;
    margin: -0.1em;
  }
  .btn--loading {
    cursor: wait;
    pointer-events: none;
  }
  .btn--loading:after {
    width: 12px;
    border: 2px solid rgba(125, 125, 125, 0.3);
    height: 12px;
    content: '';
    display: inline-block;
    animation: keyframes-buttonLoading;
    margin-left: 0.6em;
    border-radius: 50%;
    animation-duration: 0.8s;
    border-right-color: var(--color-text-secondary);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .btn--error {
    color: #fff !important;
    background: #c92a2a !important;
  }
  .btn--error:after {
    float: right;
    content: '⚠';
    padding-left: 9px;
  }
  .btn--success {
    color: #fff !important;
    background: #2f9e44 !important;
  }
  .btn--success:after {
    float: right;
    content: '✓';
    padding-left: 9px;
  }
  .btn--success:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    box-shadow: 0 0 0 0 #2f9e443b;
    border-radius: inherit;
    animation-name: keyframes-buttonSuccess;
    pointer-events: none;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }
  .btn svg:first-child,
  .btn img:first-child {
    margin-right: 0.4em;
  }
  .btn svg:last-child,
  .btn img:last-child {
    margin-left: 0.4em;
  }
  .btn.btn--icon svg,
  .btn.btn--icon img {
    width: initial;
    height: 1.2em;
    margin: -0.1em;
  }
  .btn:hover,
  .btn:hover span {
    text-decoration: none;
  }
  .btn.primary {
    color: rgb(255, 255, 255);
    background: rgb(61, 34, 186);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.22);
    border-color: rgb(39, 39, 44);
  }
  .btn:hover {
    background: rgb(221, 221, 221);
    border-color: rgb(229, 229, 229);
  }
  .btn.primary:hover {
    color: rgb(255, 255, 255);
    background: rgb(42, 25, 110);
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.37);
    border-color: rgb(39, 39, 44);
  }
  @keyframes keyframes-buttonSuccess {
    from {
      box-shadow: 0 0 0 0 rgba(47, 158, 68, 0);
    }
    to {
      box-shadow: 0 0 0 5px rgba(47, 158, 68, 0.3);
    }
  }
  @keyframes keyframes-buttonLoading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .um-nav-wrapper {
    color: var(--color-text-primary);
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .um-nav-wrapper .um-nav-drawerTrigger {
    display: none;
  }
  .um-nav-wrapper.um-space-between .um-nav-links {
    paddingleft: 30;
    margin-right: auto;
  }
  .um-nav-wrapper.um-links-centered .um-nav-links {
    flex: 1;
    margin: 0 auto;
  }
  .um-nav-wrapper.um-links-centered .um-nav-children {
    flex: 1;
    margin-right: 20px;
  }
  .um-nav-wrapper.um-children-centered .um-nav-links {
    flex: 1;
  }
  .um-nav-wrapper.um-children-centered .um-nav-children {
    flex: 1;
    margin: 0 auto;
  }
  .um-nav-wrapper.um-classic .um-nav-children {
    margin-right: auto;
  }
  .um-nav-wrapper.um-hidden .um-nav-links {
    display: none;
  }
  .um-nav-wrapper.um-hidden .um-nav-buttons {
    display: none;
  }
  .um-nav-links {
    margin: 0;
    display: flex;
    padding: 0;
    font-size: 15px;
    list-style: none;
    align-items: center;
  }
  .um-nav-links > li {
    position: relative;
  }
  .um-nav-links > li > button {
    font: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: transparent;
  }
  .um-nav-links > li > a {
    font: inherit;
    color: inherit;
    padding: 10px 10px;
    white-space: nowrap;
  }
  .um-nav-links > li:hover .um-nav-flyout {
    display: flex;
  }
  .um-nav-flyout {
    top: 100%;
    left: 50%;
    width: 250px;
    display: none;
    padding: 10px;
    position: absolute;
    max-width: 250px;
    min-width: 120px;
    transform: translate(-50%);
    background: var(--nav-flyout-bg);
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    border-radius: 5px;
  }
  .um-nav-flyout ul {
    margin: 0;
    display: flex;
    padding: 0;
    flex-grow: 1;
    list-style: none;
    flex-direction: column;
  }
  .um-nav-item {
    color: var(--color-text-primary);
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: 4px;
  }
  .um-nav-item:hover {
    background: rgba(141, 141, 141, 0.09);
    text-decoration: none !important;
  }
  .um-nav-item span {
    color: var(--color-text-secondary);
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: none;
  }
  .um-nav-item .um-icon {
    flex-shrink: 0;
    margin-right: 15px;
  }
  .um-nav-buttons {
    display: flex;
    align-items: center;
    margin-left: 20;
  }
  .um-nav-buttons > button,
  .um-nav-buttons > a {
    font-size: 15px !important;
    margin-left: 10px;
  }
  .um-nav-drawerTrigger {
    width: 3em;
    border: none;
    height: 3em;
    margin: 0;
    padding: 0;
    position: relative;
    background: transparent;
    border-radius: 4px;
  }
  .um-nav-drawerTrigger:after {
    top: 9px;
    left: 7px;
    width: 26px;
    height: 4px;
    content: '';
    opacity: 0.8;
    position: absolute;
    background: var(--color-text-secondary);
    box-shadow: 0 8px 0 var(--color-text-secondary),
      0 16px 0 var(--color-text-secondary);
    border-radius: 2px;
  }
  .um-nav-drawerTrigger.um-hidden {
    display: none;
  }
  @keyframes keyframes-navbar {
    0% {
      opacity: 0;
      transform: scale(0.9) translate(0, -10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }
  .um-nav-drawer {
    top: 10px;
    right: 10px;
    width: 90%;
    z-index: 999;
    overflow: scroll;
    position: fixed;
    font-size: 15px;
    max-width: 300px;
    background: var(--nav-flyout-bg);
    box-shadow: 0px 10px 50px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    max-height: calc(100vh - 20px);
    border-radius: 10px;
  }
  .um-nav-drawer.um-hidden {
    display: none;
  }
  .um-nav-drawer:not(.um-hidden) {
    animation: keyframes-navbar;
    transform-origin: 100% 0;
    animation-duration: 300ms;
  }
  .um-nav-drawer header {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid var(--color-border-normal);
    justify-content: flex-end;
  }
  .um-nav-drawer .um-drawer-buttons {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .um-nav-drawer .um-drawer-links {
    display: flex;
    list-style: none;
    flex-direction: column;
  }
  .um-nav-drawer .um-drawer-links > li {
    border-bottom: 1px solid var(--color-border-normal);
  }
  .um-nav-drawer .um-drawer-links > li > button {
    all: unset;
    font: inherit;
    width: 100%;
    cursor: pointer;
    padding: 12px 20px;
    position: relative;
    font-size: 1em;
    box-sizing: border-box;
    font-weight: var(--fontWeight-text-medium);
  }
  .um-nav-drawer .um-drawer-links > li > a {
    font: inherit;
    display: block;
    padding: 12px 20px;
    font-size: 1em;
  }
  .um-nav-drawer .um-drawer-links > li > ul {
    margin: 0;
    display: none;
    list-style: none;
    margin-top: -5px;
    padding-left: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .um-nav-drawer .um-drawer-links > li > ul > li > a {
    font: inherit;
    color: inherit;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  .um-nav-drawer .um-drawer-links li.um-open > ul {
    display: flex;
  }
  .um-nav-drawer .um-drawer-links li.um-open button {
    font: inherit;
    color: var(--color-text-secondary);
    opacity: 0.7;
  }
  .um-nav-drawer .um-drawer-links li.um-open button:before {
    top: calc(50% - 2px);
    transform: rotate(135deg);
  }
  .um-nav-drawer .um-drawer-links > li > button:before {
    top: calc(50% - 6px);
    right: 20px;
    width: 7px;
    border: 2px solid var(--color-text-secondary);
    height: 7px;
    content: '';
    opacity: 0.6;
    position: absolute;
    transform: rotate(-45deg);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 2px;
  }
  .um-nav-drawer .um-drawer-buttons button {
    width: 100%;
    flex-grow: 1;
    font-size: 15px !important;
    margin-bottom: 10px;
  }
  .um-nav-drawer .um-drawer-buttons button:last-child {
    margin-bottom: 0;
  }
  .um-nav-drawer .um-drawer-buttons a {
    width: 100%;
    flex-grow: 1;
    font-size: 15px !important;
    margin-bottom: 10px;
  }
  .um-nav-drawer .um-drawer-buttons a:last-child {
    margin-bottom: 0;
  }
  .um-nav-drawer header .um-nav-drawerClose {
    all: unset;
    width: 40px;
    border: none;
    cursor: pointer;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    background: transparent;
    text-align: center;
  }
  .umsoModal {
    top: 50%;
    left: 50%;
    color: black;
    display: block;
    padding: 40px;
    z-index: 10001;
    position: fixed;
    min-width: 500px;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: rgba(14, 18, 22, 0.35) 0px 10px 38px -10px,
      rgba(14, 18, 22, 0.2) 0px 10px 20px -15px;
    min-height: 300px;
    overflow-y: initial !important;
    border-radius: 10px;
  }
  .umsoModalOverlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.44);
  }
  .umsoModalWrapper {
    display: none;
  }
  .umsoModalWrapper.umsoModalOpen {
    display: block;
  }

  ._f4c879d8 {
    border: var(--border-width) solid var(--color-border-normal);
    display: flex;
    padding: 15px 20px;
    z-index: 10;
    position: relative;
    flex-grow: 1;
    background: var(--color-bg);
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    --nav-flyout-bg: var(--color-bg);
  }
  ._9698a7cf {
    margin: 0;
    margin-right: auto;
  }
  ._9698a7cf > a,
  ._9698a7cf > span {
    font: var(--font-title);
    color: inherit;
    display: flex;
    align-items: center;
    line-height: 0;
  }
  ._9698a7cf > a:hover,
  ._9698a7cf > span:hover {
    text-decoration: none;
  }
  ._9698a7cf > a > div + span,
  ._9698a7cf > span > div + span {
    margin-left: calc(15px * var(--gap));
  }
  ._246d637b {
    display: block;
    max-width: calc(200px * var(--scale));
    max-height: calc(50px * var(--scale));
  }
  ._3ed039d3 {
    position: relative;
    padding-top: calc(50px + 95px);
    padding-bottom: 50px;
  }
  ._3ed039d3 > .wr {
    position: initial;
  }
  ._d4261f71 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  ._c38d6508 {
    display: flex;
    text-align: left;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    padding-bottom: 60px;
  }
  ._85045c0a {
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-normal);
    display: flex;
    padding: 0.4em 0.6em;
    font-size: 0.9em;
    transition: background 0.2s ease-in-out;
    border-radius: 2em;
    margin-bottom: 1.5em;
    text-decoration: none;
  }
  a._85045c0a:hover {
    text-decoration: none;
  }
  ._85045c0a span {
    margin: 0 0.4em;
  }
  ._85045c0a span:last-child {
    color: var(--color-text-link);
  }
  ._499c1710 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  ._499c1710 > p {
    font-size: 1.3em;
    max-width: 700px;
  }
  ._499c1710 > h1 {
    font-size: var(--fontSize-title-section, 3.5em);
  }
  ._499c1710 > h2 {
    font-size: var(--fontSize-title-section, 3em);
  }
  @media (max-width: 500px) {
    ._499c1710 > p {
      font-size: 1em;
    }
    ._499c1710 > h1,
    ._499c1710 > h2 {
      font-size: 2.5em;
    }
  }
  ._f2431008 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._a043623a {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._48201f1f {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._5ba80624 {
    margin: -8px;
    display: flex;
  }
  ._5ba80624 button,
  ._5ba80624 a {
    margin: 0 8px;
  }
  ._0bac39b1 {
    font-size: 1.05em;
  }
  ._b8489f76 {
    color: var(--card-textColorSecondary);
    display: flex;
    padding: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-boxShadow);
    box-sizing: border-box;
    border-color: var(--card-borderColor);
    border-style: solid;
    border-width: var(--card-borderWidth);
    border-radius: var(--card-borderRadius);
  }
  ._b8489f76:empty {
    display: none;
  }
  ._9d5b6c46 {
    color: inherit;
    transition: transform 0.2s ease-in-out;
    font-weight: inherit;
    text-decoration: none;
  }
  ._9d5b6c46:hover {
    transform: scale(1.03);
    text-decoration: none !important;
  }
  ._dbd74bc2 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: calc(var(--card-borderRadius) - 5px);
  }
  ._2ba7e6ee {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  ._978c8c5a {
    color: var(--card-textColorSecondary);
    display: flex;
    background: var(--card-bg);
    box-shadow: var(--card-boxShadow);
    box-sizing: border-box;
    border-color: var(--card-borderColor);
    border-style: solid;
    border-width: var(--card-borderWidth);
    border-radius: var(--card-borderRadius);
  }
  @media (max-width: 750px) {
    ._978c8c5a {
      flex-direction: column;
    }
  }
  ._81e795ff {
    color: inherit;
    transition: transform 0.2s ease-in-out;
    font-weight: inherit;
    text-decoration: none;
  }
  ._81e795ff:hover {
    transform: scale(1.03);
    text-decoration: none !important;
  }
  ._c1510784 {
    margin: 3em;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 750px) {
    ._c1510784 {
      margin: 2em;
    }
  }
  ._09ed4391 {
    font-size: 0.9em;
  }
  ._a7140c95 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._bded6b33 {
    font: var(--font-title);
    color: var(--card-textColorPrimary, var(--color-text-primary));
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._94d1a8f8 {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._c58fa780 {
    border: var(--border-width, 1px) solid var(--color-border-normal);
    display: flex;
    padding: 2em;
    box-sizing: border-box;
    margin-top: 2em;
    border-radius: var(--card-borderRadius);
    flex-direction: column;
  }
  ._ce26cec5 {
    margin-bottom: 1em;
  }
  ._382ee6ab {
    display: block;
    max-width: calc(150px * var(--scale));
    max-height: calc(30px * var(--scale));
  }
  ._84755fc0 {
    font-size: 0.95em;
    margin-bottom: auto;
  }
  ._ce9d5d91 {
    display: flex;
    margin-top: 1em;
    align-items: center;
  }
  ._c62d28d7 {
    width: 50px;
    height: 50px;
    margin-right: 1em;
    border-radius: 50%;
  }
  ._512a9552 {
    display: flex;
    flex-direction: column;
  }
  ._5d6f2b3f {
    font-size: 0.9em;
    font-weight: var(--fontWeight-text-medium);
  }
  ._61ab510a {
    font-size: 0.9em;
  }
  ._4456e816 {
    width: calc(50% - 4em);
    margin: 3em 3em 3em 1em;
  }
  @media (max-width: 750px) {
    ._4456e816 {
      width: calc(100% - 4em);
      margin: 0em 2em 2em;
    }
  }
  ._f97210aa {
    display: block;
    max-width: 100%;
    border-radius: calc(var(--card-borderRadius) / 2);
  }
  ._690198e7 {
    overflow: hidden;
    position: relative;
    padding-top: 0px;
  }
  ._690198e7 > .wr {
    position: initial;
  }
  ._93d5eab3 {
    display: flex;
    align-items: center;
  }
  @media (max-width: 740px) {
    ._93d5eab3 {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  ._aa0afbde {
    width: calc(50% - 60px);
    display: flex;
    text-align: left;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 100px;
    padding-right: 60px;
    flex-direction: column;
    padding-bottom: 150px;
  }
  @media (max-width: 740px) {
    ._aa0afbde {
      width: 100%;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 2em;
    }
  }
  ._b4a60a39 {
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-normal);
    display: flex;
    padding: 0.4em 0.6em;
    font-size: 0.9em;
    transition: background 0.2s ease-in-out;
    border-radius: 2em;
    margin-bottom: 1.5em;
    text-decoration: none;
  }
  a._b4a60a39:hover {
    text-decoration: none;
  }
  ._b4a60a39 span {
    margin: 0 0.4em;
  }
  ._b4a60a39 span:last-child {
    color: var(--color-text-link);
  }
  ._48a331ad {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  ._48a331ad > p {
    font-size: 1.3em;
    max-width: 700px;
  }
  ._48a331ad > h1 {
    font-size: var(--fontSize-title-section, 3.5em);
  }
  ._48a331ad > h2 {
    font-size: var(--fontSize-title-section, 3em);
  }
  @media (max-width: 500px) {
    ._48a331ad > p {
      font-size: 1em;
    }
    ._48a331ad > h1,
    ._48a331ad > h2 {
      font-size: 2.5em;
    }
  }
  ._cd617110 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._b7bd996d {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._3c7a756a {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._c8343289 {
    margin: -8px;
    display: flex;
    flex-wrap: wrap;
  }
  ._c8343289 button,
  ._c8343289 a {
    margin: 8px;
  }
  ._b18dcb91 {
    font-size: 1.05em;
  }
  ._83651d07 {
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
  }
  @media (max-width: 740px) {
    ._83651d07 {
      left: initial;
      position: relative;
    }
  }
  ._d328006c {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ._acbe835e {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ._10db8f99 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  ._d6954d6a {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  ._6521e538 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._33adcc07 {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._c771f8e7 {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._460c0518 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  ._ed5c7900 {
    color: var(--card-textColorSecondary);
    width: calc(33.33% - 2em);
    margin: 1em;
    display: flex;
    padding: 2em;
    background: var(--card-bg);
    box-shadow: var(--card-boxShadow);
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    border-color: var(--card-borderColor);
    border-style: solid;
    border-width: var(--card-borderWidth);
    border-radius: var(--card-borderRadius);
    flex-direction: column;
  }
  @media (max-width: 600px) {
    ._ed5c7900 {
      width: 100% !important;
    }
  }
  @media (max-width: 900px) {
    ._ed5c7900 {
      width: calc(50% - 2em);
    }
  }
  ._725ce847 {
    color: inherit;
    transition: transform 0.2s ease-in-out;
    font-weight: inherit;
    text-decoration: none;
  }
  ._725ce847:hover {
    transform: scale(1.03);
    text-decoration: none !important;
  }
  ._c5d42e8e {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  ._a8d7da3e {
    color: var(--card-textColorPrimary, var(--color-text-primary));
    font-size: 1.1em;
    margin-top: 1em;
    font-weight: var(--fontWeight-text-medium);
  }
  ._827a3ca1 {
    color: var(--card-textColorPrimary, var(--color-text-primary));
    display: flex;
    margin-top: 1em;
    font-weight: var(--fontWeight-text-medium);
    margin-bottom: 1em;
  }
  ._827a3ca1:empty {
    display: none;
  }
  ._c4a9792e {
    color: inherit;
    margin: 0 0.3em;
  }
  ._67cdde0d {
    display: block;
  }
  ._c4b89fde {
    display: flex;
    padding: 30px 0 60px 0;
    position: relative;
    border-top: 1px solid var(--color-border-normal);
  }
  ._bea1daea {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 500px) {
    ._bea1daea {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  ._c0e4633f {
    font-size: 1em;
  }
  ._a6d0f97b {
    margin-top: 10px;
  }
  ._9fc8f72f {
    display: block;
    max-width: calc(200px * var(--scale));
    max-height: calc(40px * var(--scale));
  }
  ._379aefea {
    display: flex;
    margin-top: 1em;
  }
  ._77e6fd5c {
    color: inherit;
    margin-right: 1em;
  }
  ._77e6fd5c:hover {
    color: var(--color-text-primary);
  }
  ._2cd4f8c5 {
    display: block;
  }
  ._370825cf {
    margin: -10px;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  ._370825cf > * {
    margin: 10px;
  }
  ._d1a0a8ea {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
  }
  @media (max-width: 500px) {
    ._d1a0a8ea {
      margin-top: 30px;
    }
  }
  ._0fc50e27 {
    margin-left: 80px;
    margin-bottom: 30px;
  }
  @media (max-width: 500px) {
    ._0fc50e27 {
      margin-left: 0;
      margin-right: 50px;
    }
  }
  ._31f6b92b {
    color: var(--color-text-primary);
    margin: 0 0 5px 0;
    font-weight: var(--fontWeight-text-medium);
  }
  ._91687afc {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ._e0485177 {
    padding: 4px 0;
    font-size: 0.9em;
  }
  ._c288f4a7 {
    color: var(--color-text-secondary);
    padding: 10px 0;
  }

  .backlog-table {
    border-collapse: collapse;
    width: 100%;
}

.backlog-table th, .backlog-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.backlog-table th {
    background-color: #f2f2f2;
}
